body {
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: yellow;
    padding: 8px;
    font-size: 48px;
}

td {
    padding: 10px;
    text-align: center;
    margin: 10px;
}

p {
    font-size: 22px;
}

table {
    border-spacing: 2px;
}

.detail {
    font-size: 10px;
}

#space1 {
    border-style: none;
}

td.type1 {
    background-color: #fdf580;
}

td.type2 {
    background-color: #d1fc99;
}

td.type3 {
    background-color: rgb(255, 220, 190);
}

td.type4 {
    background-color: #eca9c7;
}

td.type5 {
    background-color: #9dd3ec;
}

td.type6 {
    background-color: #e2f3f5;
}

td.type7 {
    background-color: #f7e8e8;
}

td.type8 {
    background-color: #fcf3f7;
}

td.type9 {
    background-color: #f0a93ff3;
}

td.type10 {
    background-color: #ebdfaa;
}

.radish_color {
    color: rgb(202, 48, 48);
}

.green_color {
    color: rgb(16, 236, 16);
}

.blue_color {
    color: blue;
}